.question {
    border: 1px solid grey;
    margin: 0 3rem 0 3rem;
    padding: 0 1rem 1rem 1rem;
}

.mc-question {
    background-color:cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.solve-question{
    background-color: seashell;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}